@import "tailwindcss";

.montserrat{
     font-family: "Montserrat", sans-serif;
}

.sideleft{
      animation: slideIn 1s ease-out forwards;

}

.fade{
      animation: fadeIn 1.5s ease-out forwards;

}

@keyframes slideIn {
  from {
   transform: translateX(-30px);
   opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
  
   opacity: 0;
  }
  to {
   
    opacity: 1;
  }
}